# Protect Utility Scripts from Public Access
# For Apache 2.4+
<IfModule mod_authz_core.c>
    Require all denied
</IfModule>

# For Older Apache
<IfModule !mod_authz_core.c>
    Order deny,allow
    Deny from all
</IfModule>
